.receivepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background: rgb(231, 230, 255);
    background: linear-gradient(90deg, rgba(231, 230, 255, 1) 0%, rgba(144, 144, 255, 1) 51%, rgba(106, 101, 255, 1) 100%);
    position: relative
}

.detailspage {
    height: 20vh;
    width: 50vh;
}

.details {
    display: flex;
    flex-direction: row;
}

input {
    border-radius: 8px;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 25%;
    font-size: 1rem;
}

.sub-button {
    background: #1d2129;
    color: #fff;
    float: right;
    font-size: 1.25rem;
    padding: 0.5rem;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px;
    cursor: pointer;
}

h2 {
    display: flex;
    color: #1d2129;
    align-content: center;
    padding-left: 30%;
    margin-top: 10%;
}

.detailbox {
    background: white;
    border: solid;
    width: 80%;
    border-radius: 20px;
    margin-right: 20px;
    padding: 3%;
    margin: 5%;
}